<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Exporter</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    <link rel='stylesheet' href='/index.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="Logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
            </a>
            <div class="container-fluid">
                <span class="navbar-text">YOGI RAMSURATKUMAR ASHRAM</span>
            </div>
            <div class="container-fluid">
                <span class="navbar-text">MEDICAL CAMP</span>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/price">Price</a>
                </li>
            </ul>
        </div>
    </nav>

    <br />
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="display-5 text-primary">Enter the Quantity</h3>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span id="selectDrop">
                <label
                    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
                    class="text-center fst-italic fst-light text-primary" for="tableSelector">Select a Subcategory to add Quantity:</label><br />
                <select class="form-select" id="tableSelector">
                    <option value="table0">-----Choose one Category-----</option>
                    <option value="table1">ANALGESICS / ANTI PYRETICS / NASIDS / ANTI SPASMODIC</option>
                    <option value="table2">ANTIBIOTCS</option>
                    <option value="table3">GENERAL HEALTH / HAEMATINICS / CALCIUM</option>
                    <option value="table4">ANTI AMOEBIC / ANTI DIARRHOEAL</option>
                    <option value="table5">ANTI ASTHMATIC / BRONCHODIALATORS / COUGH SYRUP</option>
                    <option value="table6">ANTI ALLERGY / ANTI COLD / ANTI HISTAMINE</option>
                    <option value="table7">CARDIO VASCULAR / DIURETICS / ANTI HYPERTENSION MEDICINES</option>
                    <option value="table8">ANTACID /ANTI ULCERENT</option>
                    <option value="table9">LIVER PREPARATIONS</option>
                    <option value="table10">ANTI DIABETICS</option>
                    <option value="table11">DE WORMING DRUGS</option>
                    <option value="table12">ANTI FILARIAL / EOSINOPHILA</option>
                    <option value="table13">ANTI EPILEPTIC</option>
                    <option value="table14">CORTICOSTEROIDS</option>
                    <option value="table15">THYROID DRUGS</option>
                    <option value="table16">EYE DROPS</option>
                    <option value="table17">EAR, NOSE DROPS</option>
                    <option value="table18">SKIN PREPARATIONS</option>
                    <option value="table19">INJECTIONS</option>
                    <!-- Add more options as needed -->
                </select>
            </span>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="container-fluid col-md-2"></div>
        <div class="container-fluid col-md-8">
            <div id="tableContainer" style="display: show;" class="container-fluid">
                <!-- Tables will be displayed here -->

                <div id="table1" style="display: none;">
                    <form id="tab1" method="post" action="/">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan="5" class="text-center">Analgesics/ Anti Pyretics / NASIDS / Anti
                                        Spasmodic</th>
                                </tr>
                                <tr>
                                    <th>Serial Number</th>
                                    <th colspan="3">Name of the drugs</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td id="1"><label for="1">1</label></td>
                                    <td id="TabName"><label for="TabName">Paracetemol</label></td>
                                    <td id="tab"><label for="tab">Tab</label></td>
                                    <td id="mg"><label for="mg">500mg</label></td>
                                    <td id="qty"><input type="number" class="form-control" name="col1"
                                            placeholder="Enter Qty" /></td>
                                </tr>
                                <tr>
                                    <td id="2"><label for="2">2</label></td>
                                    <td id="TabName"><label for="TabName">Paracetemol</label></td>
                                    <td id="tab"><label for="tab">Syrup</label></td>
                                    <td id="mg"><label for="mg"> </label></td>
                                    <td id="qty"><input type="number" class="form-control" name="col2"
                                            placeholder="Enter Qty" /></td>
                                </tr>
                                <tr>
                                    <td id="3"><label for="3">3</label></td>
                                    <td id="TabName"><label for="TabName">Cyclopam</label></td>
                                    <td id="tab"><label for="tab">Tab</label></td>
                                    <td id="mg"><label for="mg"> </label></td>
                                    <td><input type="number" name="col3" class="form-control" placeholder="Enter Qty" />
                                    </td>
                                </tr>
                                <tr>
                                    <td id="4"><label for="4">4</label></td>
                                    <td id="TabName"><label for="TabName">Diclofenac</label></td>
                                    <td id="tab"><label for="tab">Tab</label></td>
                                    <td id="mg"><label for="mg">50mg</label></td>
                                    <td><input type="number" name="col4" class="form-control" placeholder="Enter Qty" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                </div>

                <div id="table2" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center" align="center">ANTIBIOTICS</th>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="5"><label for="5">5</label></td>
                                <td id="TabName"><label for="TabName">Amoxycillin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">125mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col5"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td id="6"><label for="6">6</label></td>
                                <td id="TabName"><label for="TabName">Amoxycillin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">250mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col6"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td id="7"><label for="7">7</label></td>
                                <td id="TabName"><label for="TabName">Ciprofloxacin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">500mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col7"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td id="7"><label for="3">8</label></td>
                                <td id="TabName"><label for="TabName">Septran</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col8"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td id="9"><label for="9">9</label></td>
                                <td id="TabName"><label for="TabName">Doxycycline</label></td>
                                <td id="tab"><label for="tab">Cap</label></td>
                                <td id="mg"><label for="mg">100mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col9"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table3" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">GENERAL HEALTH / HAEMATINICS / CALCIUM</th>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td id="10"><label for="10">10</label></td>
                                <td id="TabName"><label for="TabName">Becomplex(BCT)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col10"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td id="TabName"><label for="TabName">Multivitamin(MVT)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"> </label></td>
                                <td id="qty"><input type="number" class="form-control" name="col11"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td id="TabName"><label for="TabName">Multivitamin(MVT)</label></td>
                                <td id="tab"><label for="tab">Syrup</label></td>
                                <td id="mg"><label for="mg"> </label></td>
                                <td id="qty"><input type="number" class="form-control" name="col12"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td id="TabName"><label for="TabName">Iron Syrup</label></td>
                                <td id="tab"><label for="tab">Syrup</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col13"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td id="TabName"><label for="TabName">FST</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col14"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td id="TabName"><label for="TabName">A&D</label></td>
                                <td id="tab"><label for="tab">Cap</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col15"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td id="TabName"><label for="TabName">Calcium</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col16"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table4" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTI AMOEBIC / ANTI DIARRHOEAL</th>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>17</td>
                                <td id="TabName"><label for="TabName">Metronidazole</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">200mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col17"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td id="TabName"><label for="TabName">Metronidazole</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">400mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col18"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td id="TabName"><label for="TabName">Loperamide</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">2mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col19"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table5" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTI ASTHMATIC / BRONCHODIALATORS / COUGH SYRUP</th>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>20</td>
                                <td id="TabName"><label for="TabName">Salbutamol</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">4mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col20"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td id="TabName"><label for="TabName">Etosalbetol</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col21"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td id="TabName"><label for="TabName">Bronchodialator / Cough Syrup</label></td>
                                <td id="tab"><label for="tab"></label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col22"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>


                <div id="table6" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTI ALLERGY / ANTI COLD / ANTI HISTAMINE</th>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>23</td>
                                <td id="TabName"><label for="TabName">Avil</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">25mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col23"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td id="TabName"><label for="TabName">Cetrizine Plus PHENYLEPHRINE</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"> </label></td>
                                <td id="qty"><input type="number" class="form-control" name="col24"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td id="TabName"><label for="TabName">Levocetrizine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col25"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td id="TabName"><label for="TabName">Levocetrizine(5mg) + Montelukast (10mg) </label>
                                </td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">5mg+10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col26"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td id="TabName"><label for="TabName">Montelukast</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col27"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td id="TabName"><label for="TabName">Ambroxol</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">60mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col28"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table7" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">CARDIO VASCULAR / DIURETICS / ANTI HYPERTENSION MEDS
                                </th>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>29</td>
                                <td id="TabName"><label for="TabName">Telmisartan</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">40mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col29"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td id="TabName"><label for="TabName">Telmisartan(40mg) + Cilnidipine(10mg)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">40mg+10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col30"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td id="TabName"><label for="TabName">Cilnidipine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col31"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td id="TabName"><label for="TabName">Atenolol</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">50mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col32"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td id="TabName"><label for="TabName">Atenolol + Amlodipine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">50mg+5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col33"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>34</td>
                                <td id="TabName"><label for="TabName">Amlodipine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col34"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td id="TabName"><label for="TabName">Metoprolol</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">50mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col35"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td id="TabName"><label for="TabName">Lasix</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">40mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col36"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>37</td>
                                <td id="TabName"><label for="TabName">Aspirin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">300mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col37"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td id="TabName"><label for="TabName">Clopidogrel</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">75mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col38"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>39</td>
                                <td id="TabName"><label for="TabName">Isordil</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col39"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td id="TabName"><label for="TabName">Deriphylin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col40"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>41</td>
                                <td id="TabName"><label for="TabName">Atoruvastatin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col41"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>42</td>
                                <td id="TabName"><label for="TabName">Rosuvastatin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">10mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col42"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>


                <div id="table8" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTACID / ANTI ULCERENT</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>43</td>
                                <td id="TabName"><label for="TabName">Stemetil(Prochloroprozone)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col43"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>44</td>
                                <td id="TabName"><label for="TabName">Antacid</label></td>
                                <td id="tab"><label for="tab">Syrup</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col44"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>45</td>
                                <td id="TabName"><label for="TabName">Rabeprazole</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">20mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col45"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>46</td>
                                <td id="TabName"><label for="TabName">Rantac</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">150mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col46"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>46A</td>
                                <td id="TabName"><label for="TabName">Purgolax</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col46A"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table9" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">LIVER PREPARATIONS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>47</td>
                                <td id="TabName"><label for="TabName">LIV52</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col47"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table10" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTI DIABETICS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>48</td>
                                <td id="TabName"><label for="TabName">Glirum MF (Glynase MF)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col48"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>49</td>
                                <td id="TabName"><label for="TabName">Glirum (Glide)</label></td>
                                <td id="tab"><label for="tab">Cap</label></td>
                                <td id="mg"><label for="mg">5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col49"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>50</td>
                                <td id="TabName"><label for="TabName">Biciphage (Glychiphage)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">500mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col50"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>51</td>
                                <td id="TabName"><label for="TabName">Daonil</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col51"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>52</td>
                                <td id="TabName"><label for="TabName">Glimp M2 (Glimipride 2mg+Metformin)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">2mg+500mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col52"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>53</td>
                                <td id="TabName"><label for="TabName">Teneligliptin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">20mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col53"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>54</td>
                                <td id="TabName"><label for="TabName">Teneligliptin 20mg + Metformin 500mg</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">20mg+500mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col54"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>54A</td>
                                <td id="TabName"><label for="TabName">Voglibose 0.2mg</label></td>
                                <td id="tab"><label for="tab"></label></td>
                                <td id="mg"><label for="mg">0.2mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col54A"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>


                <div id="table11" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">DE WORMING DRUGS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>55</td>
                                <td id="TabName"><label for="TabName">Albendazole</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">400mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col55"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table12" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTI FILARIL / EOSINOPHILA</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>56</td>
                                <td id="TabName"><label for="TabName">Banocide Forte</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">100mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col56"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table13" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">ANTI EPILEPTIC</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>57</td>
                                <td id="TabName"><label for="TabName">Epotin</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">100mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col57"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>58</td>
                                <td id="TabName"><label for="TabName">Carbamazepine (Tegrital)</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">200mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col58"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table14" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">CORTICOSTEROIDS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>59</td>
                                <td id="TabName"><label for="TabName">Decardran</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">0.5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col59"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table15" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">THYROID DRUGS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>60</td>
                                <td id="TabName"><label for="TabName">Throxine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">25mcg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col60"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>61</td>
                                <td id="TabName"><label for="TabName">Throxine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">50mcg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col61"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>62</td>
                                <td id="TabName"><label for="TabName">Thyroxine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">75mcg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col62"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>63</td>
                                <td id="TabName"><label for="TabName">Thyroxine</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">100mcg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col63"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>64</td>
                                <td id="TabName"><label for="TabName">Neomercazole</label></td>
                                <td id="tab"><label for="tab">Tab</label></td>
                                <td id="mg"><label for="mg">5mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col64"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table16" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">EYE DROPS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>65</td>
                                <td id="TabName"><label for="TabName">Hicool</label></td>
                                <td id="tab"><label for="tab">Drops</label></td>
                                <td id="mg"><label for="mg"></label></td>
                                <td id="qty"><input type="number" class="form-control" name="col65"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>66</td>
                                <td id="TabName"><label for="TabName">Moxifloxacin</label></td>
                                <td id="tab"><label for="tab">Drops</label></td>
                                <td id="mg"><label for="mg"> </label></td>
                                <td id="qty"><input type="number" class="form-control" name="col66"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table17" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">EAR, NOSE DROPS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>67</td>
                                <td id="TabName"><label for="TabName">Clotrimazole</label></td>
                                <td id="tab"><label for="tab">Ear</label></td>
                                <td id="mg"><label for="mg">Drops</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col67"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>68</td>
                                <td id="TabName"><label for="TabName">Normal Saline</label></td>
                                <td id="tab"><label for="tab">Nose</label></td>
                                <td id="mg"><label for="mg">Drops</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col68"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>


                <div id="table18" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">SKIN PREPARATIONS</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>69</td>
                                <td colspan="3" id="TabName"><label for="TabName">Clotrimazole Cream</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col69"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>70</td>
                                <td colspan="3" id="TabName"><label for="TabName">Whitefield ointment</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col70"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>71</td>
                                <td colspan="3" id="TabName"><label for="TabName">Nitrofurazone Cream</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col71"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>72</td>
                                <td colspan="3" id="TabName"><label for="TabName">Zinc Cream</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col72"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>73</td>
                                <td colspan="3" id="TabName"><label for="TabName">White Linament</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col73"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>74</td>
                                <td colspan="3" id="TabName"><label for="TabName">Liquid Parafin</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col74"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>75</td>
                                <td colspan="3" id="TabName"><label for="TabName">Spirit</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col75"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div id="table19" style="display: none;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">INJECTIONS AVAILABLE</td>
                            </tr>
                            <tr>
                                <th>Serial Number</th>
                                <th colspan="3">Name of the drugs</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>76</td>
                                <td colspan="3" id="TabName"><label for="TabName">Inj. Dolokind</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col76"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>77</td>
                                <td colspan="3" id="TabName"><label for="TabName">Inj. Betnesol</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col77"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>78</td>
                                <td colspan="3" id="TabName"><label for="TabName">Inj. Deriphyllin</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col78"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>79</td>
                                <td colspan="3" id="TabName"><label for="TabName">Inj. Garamycin 80mg</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col79"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td>80</td>
                                <td colspan="3" id="TabName"><label for="TabName">Inj. Cyclopam</label></td>
                                <td id="qty"><input type="number" class="form-control" name="col80"
                                        placeholder="Enter Qty" /></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="5"><button type="submit" value="Submit">Submit</button></td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="container-fluid col-md-4 text-center ">
            <p id="successMsg" class="text-success">
                <%=message %>
            </p>
            <br>
            <br>

            <p id="emailMsg" class="text-success"></p>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

</html>